<p class="title-page">{{title}}</p>
<h2 class="title">Experiencia</h2>
<mat-divider></mat-divider>
<div class="work-exp">
    <p class="title-exp">
        SOLINFRA - Software Developer
    </p>
    <p class="subtitle-exp">
        Marzo 2023 - Presente | Quito - Ecuador
    </p>
    <p class="cont-exp">
        Desarrollo de nuevas características dentro del Sistema de Gestión de Información Penitenciaria del SNAI en Angular.
    </p>
    <p class="cont-exp">
        Diseño funcional de la plataforma de educación del Sistema de Educación de la Policía Nacional.
    </p>
    <p class="cont-exp">
        Implementación e integración de soluciones biométricas en aplicativos desarrollados.
    </p>
</div>
<mat-divider></mat-divider>
<div class="work-exp">
    <p class="title-exp">
        ECOLLENO, Software Developer
    </p>
    <p class="subtitle-exp">
        Noviembre 2022 - Presente | Quito - Ecuador
    </p>
    <p class="cont-exp">
        Responsable del desarrollo Frontend y Backend de nuevos desarrollos en Angular.
    </p>
    <p class="cont-exp">
        Responsable principal del desarrollo Backend en Python.
    </p>
    <p class="cont-exp">
        Diseño, construcción e implementación de base de datos, en un periodo de un mes.
    </p>
</div>
<mat-divider></mat-divider>
<div class="work-exp">
    <p class="title-exp">
        FREELANCE - Software Developer
    </p>
    <p class="subtitle-exp">
        Febrero 2021 - Marzo 2023 | LATAM
    </p>
    <p class="cont-exp">
        Cliente: Termas Turis S.A. Aplicación para el tracking de unidades de transporte (Noviembre 2021 - Febrero 2022)
    </p>
    <p class="cont-exp">
        Cliente: INDIMA S.A. Automatización del proceso de llenado de un tanque para una máquina de corte CNC (Febrero 2022 - Agosto 2022)
    </p>
    <p class="cont-exp">
        Cliente: INDIMA S.A. Comparación de moldes por visión artificial (Junio 2022 - Septiembre 2022)
    </p>
</div>
<div class="btns-cont">
    <button class="cv-btn" (click)="DownloadCV()">
        <div class="cv-btn-cont">
            <p class="cv-text">Hoja de Vida</p>
            <i class="material-icons">download</i>
        </div>
    </button>    
</div>