<div class="title">
    <p class="title-text">
        print("Contacto")
    </p>
</div>
<div class="subtitle">
    <p class="subtitle-text">
        Estoy muy emocionado por la oportunidad de colaborar contigo y crear juntos soluciones increíbles ¡Será un placer trabajar de la mano!
    </p>
</div>
<div class="buttons">
    <span class="btn-contact-1" onclick="window.location.href='https://wa.me/593995354173?text=Hola,%20quiero%20trabajar%20contigo'">
        <div class="btn-contat-cont">
            <img class="icon-1" src="../../assets/whatsapp.svg">
            <p class="btn-contact-text">whatsApp</p>
        </div>
    </span>
    <span class="btn-contact-2" onclick="window.location.href='https://t.me/jeffersoncaicedo'">
        <div class="btn-contat-cont">
            <img class="icon-2" src="../../assets/telegram.svg">
            <p class="btn-contact-text">Telegram</p>
        </div>    
    </span>
    <span class="btn-contact-3" onclick="window.location.href='mailto:jeffersona_caicedo@hotmail.com'">
        <div class="btn-contat-cont">
            <img class="icon-3" src="../../assets/email.svg">
            <p class="btn-contact-text">Email</p>
        </div>
    </span>
</div>
<div class="location">
    <img class="icon" src="../../assets/location.svg"> 
    <p class="location-text">Quito, Ecuador</p>
</div>

<div class="links">
    <p class="link-text"># github.com/jeffersoncaicedo</p>
    <p class="link-text"># linkedin.com/in/jeffersoncaicedo/</p>
</div>